

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');

body {
    margin: 0px;
    padding: 0px;
    border: none;
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
    height: 100vh;
}

.content {
    background: url('./img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    margin: 0 100px;
}